# 기본 패키지
streamlit==1.38.0
pandas>=2.2
numpy>=1.26
scikit-learn>=1.4

# 실시간 오디오/영상 스트림용
streamlit-webrtc

# TFLite 모델 실행용 (클라우드 환경에서는 'tensorflow' 사용을 권장)
# tflite-runtime은 삭제하거나 주석 처리합니다.
# tflite-runtime 
tensorflow
